/* global.css */

.outlet-container {
	@apply w-full h-full flex flex-row justify-between items-center;
}

.outlet-social-icons {
	@apply hidden lg:block max-w-[10rem] m-auto;
}

.outlet {
	@apply w-full lg:w-[calc(100vw-10rem)] text-start;
}

.landing-page-container {
	@apply w-full h-[calc(100vh-4rem)] flex justify-between items-center;
}

.landing-page-content-box {
	@apply flex flex-col-reverse justify-evenly items-center lg:flex-row lg:justify-between lg:items-center lg:mr-16;
}

.introduction-section {
	@apply lg:w-[52%] flex-col items-center justify-center space-y-3 text-center sm:text-center;
}

.about-page-content {
	/* @apply flex flex-col lg:flex-row justify-evenly xl:justify-between items-center w-full h-fit py-6 lg:w-[85%] lg:h-[64vh] lg:mr-[15.5%] rounded-3xl lg:space-x-8 md:space-x-6 xl:space-x-10; */
	@apply flex flex-col lg:flex-row gap-4 justify-evenly items-center lg:mr-16;
}

.highlight-box {
	@apply rounded-lg w-full justify-center h-[60px] lg:h-[80px] min-h-fit py-1 px-2 sm:py-2 sm:px-2 text-center flex items-center list-none text-xs lg:text-sm 2xl:text-base;
}

.skill-page-main {
	@apply text-center;
}

.skill-page-box {
	@apply h-[calc(100vh-4rem)] w-full text-gray-600 flex flex-col justify-start items-center md:items-start lg:h-[89.90vh] lg:mr-16;
}

.skill-card {
	@apply h-fit w-36 sm:w-40 lg:w-60 px-8 py-4 rounded-xl shadow-md flex flex-wrap justify-center items-center gap-4;
}

.portfolio-page-box {
	@apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 gap-6 place-items-center lg:justify-between items-center h-full overflow-auto p-2 lg:p-10;
}

.experience-page-box {
	@apply flex flex-col pt-6 justify-start items-start w-full gap-10 px-4 py-6;
}

.experience-heading {
	@apply text-3xl font-medium tracking-wider text-start w-full;
}

.experience-card-container {
	/* @apply text-gray-600 flex flex-col md:flex-row m-auto justify-center lg:justify-between items-start w-full md:px-4 md:gap-4 lg:gap-10; */
	@apply w-full text-gray-600 flex flex-row flex-wrap justify-start md:justify-between items-start gap-10;
}

.experience-card {
	/* @apply border-2 shadow-sm lg:w-[25em] max-w-[460px] p-4 rounded-2xl flex flex-col bg-blue-500; */
	@apply w-full h-full pl-2 p-4 rounded-md;
}

.contact-page-box {
	@apply flex flex-col justify-center items-center h-[90vh] w-full gap-10 px-4;
}

.navbar-container {
	@apply h-[4rem] flex justify-center items-center;
}

.navbar-content-box {
	@apply sticky top-0 right-0 w-full flex justify-between items-center py-[2.5vh];
}

.navbar-menu {
	@apply w-full md:flex justify-between items-center gap-1;
}

.dark-mode-text {
	@apply text-[#1A8B9D];
}

.dark-mode-white-text {
	@apply text-gray-400;
}

.dark-mode-bg {
	background-color: #110133;
}

.dark-mode-card-bg {
	background-color: #0c134f;
}

.light-mode-text {
	@apply text-[#16B0B2];
}

.light-mode-gray-text {
	@apply text-gray-600;
}

.white-text {
	@apply text-white;
}

.social-media-icon {
	@apply cursor-pointer border-2 border-gray-100 p-3 rounded-full hover:shadow-sm hover:bg-[#16B0B2] hover:text-white transition-all duration-500 ease-in-out shadow-[0_0_10px_gray];
}

.menu-social-icon {
	@apply cursor-pointer rounded-full hover:shadow-sm hover:text-white transition-all duration-500 ease-in-out;
}

/* Styles for SkillCard dragging effect */
.skill-card.dragging {
	z-index: 9999; /* Make sure the dragged item is on top */
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4); /* Prominent drop shadow */
	transform: scale(1.05); /* Slightly enlarge the dragged item */
}

/* Optional: Transition effects for the skill card */
.skill-card {
	transition: box-shadow 0.3s ease, transform 0.3s ease;
}

html {
	scroll-behavior: smooth;
}

body {
	@apply transition-colors duration-300 ease-in-out;
}

.dark-mode {
	@apply bg-backgroundDark text-textDark;
}

.light-mode {
	@apply bg-backgroundLight text-textLight;
}

/* Button Hover Effect */
button,
.hover-effect {
	@apply transition-all duration-300 ease-in-out;
}

button:hover {
	@apply bg-teal-600 text-white;
}
